// *{
// 	all: unset;
// }
window#control-center{
	all:unset;
	// opacity: .2;
	background-color: transparentize($crust, .8);
	border-radius: .5rem;
	.controlCenter {
		all: unset;
		opacity: 1;
		background-color: $base;
		margin: 1rem;
		border-radius: .5rem;
		// max: {
		// 	height: 40rem;
		// 	width: 40rem;
		// }
		min: {
			height: 40rem;
			width: 30rem;
		}
	}
}
